body {
    margin: auto;
    margin-top: 3cm;
    width: 35%;
    border: 2.5px solid blue;
    padding: 20px;
    backface-visibility: inherit;
    font-family: Josefin sans, serif;
    background-size: 100%;
    background-position: 0px 30px;
    background-repeat: no-repeat;
    background-color: azure;
}
div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: azure;
}
.box{
    background-color: #afb5ed;
    height: 42px;
    width: 140px;
    font-size: 20px;
}