body{
    font-family: Josefin Sans;
    margin-top: 0cm;
    border: 1cm;
    padding: 1%;
    background-color: azure;
    text-align: center;
}
.container{
    position: center;
}
table{
    border: 2px solid blue;
}
th{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}