body {
    margin: auto;
    margin-top: 3cm;
    width: 35%;
    border: 2.5px solid blue;
    padding: 20px;
    background-color: #c5e8e6;
    backface-visibility: inherit;
    font-family: Josefin sans, serif;
    text-align:center;
}
table{
    border: 2px solid blue;
    margin-left: auto;
    margin-right: auto;
}
th{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}