body{
    font-family: Josefin Sans;
    margin-top: 0cm;
    border: 1cm;
    padding: 1%;
    background-color: azure;
    text-align: center;
}
button {
    position:relative;
    overflow:hidden;
    width:7rem;
    color:#5585ff;
    border:2px solid #5585ff;
    background-color:transparent;
    cursor:pointer;
    line-height:2;
    margin:0;
    padding:0;
    border-radius:1.5rem;
    font-size:1.125rem;
    text-transform:lowercase;
    outline:none;
    transition:transform .125s;
}