body{
    font-family: Josefin Sans;
    margin-top: 0cm;
    border: 1cm;
    padding: 1%;
    background-color: azure;
    text-align: center;
    background-image: url('../images/background.jpg');
    background-size: 100%;
    margin-top: 10px;
    background-position: 0px 30px;
    background-repeat: no-repeat;
}