body{
    font-family: Josefin Sans;
    margin-top: 0cm;
    border: 1cm;
    padding: 1%;
    background-color: #c5e8e6;
    text-align: center;
    background-size: 100%;
    margin-top: 10px;
    background-position: 0px 30px;
    background-repeat: no-repeat;
}
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}
table{
    border: 2px solid blue;
    margin-left: auto;
    margin-right: auto;
}
th{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}